/* Reset */
html, body, h1, a, ul, li, main,
section, div, h2, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-weight: inherit;
  z-index: inherit;
  line-height: inherit;
  position: relative;
}

ul, li {
  list-style: none;
  width:auto;
}

body {
  background: transparent;
  color: #2c2c2c;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: content-box;
  z-index: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #af7bbd;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  clear: both;
  content: "";
  display: block;
}

/* User Section */
body > section.user-section {
    margin: 20px 5px;
    border: 1px solid #2c2c2c;
    position: relative;
    height: auto;
    max-height: calc(100% - 100px);
}

body > section.user-section:after {
    content: "";
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    height: 200px;
    background-color: #af7bbd;
    z-index: 2;
}
.user-section > h2.name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    padding: 20px 10px;
    color: white;
    background-color: #390038;
}

.user-section > article {
    background-color: #390038;
    color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

ul.album-list {
    border-top: 1px solid #2c2c2c;
    height: auto;
    max-height: 600px;
    overflow: scroll;
}

/*ul.album-list:hover {
    border: 1px solid white;
}*/

.album-list > li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dbd9e8;
    opacity: 90%;
    position: relative;
}

.album-list > li:before, .album-list > li:after {
    content: ":";
    color: #af7bbd;
    position: absolute;
    top: 30%;
}

.album-list > li:before {
    left: 2%;
}

.album-list > li:after {
    right: 2%;
    display: none;
}

.album-list > li:nth-child(2n + 1) {
    background-color: #cab3e6;
}

.album-list >li:hover:after {
    display: block;
}

.album-list > li:hover, .album-list > li > *:hover {
    cursor: -webkit-grab;
}


.album-list > li > div {
    padding: 1em 2em;
}

.album-list > li > div:first-child {
    margin-right: 1em;
}
